user.provider.database:
    create: nomit\Security\Authorization\User\DatabaseUserAuthorizationProvider( @database.explorer )
    tags:
        - authorization.user.provider
        logger: security.authorization