/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * (...) > SPARKLE > FORM
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.form {
    position: relative;
    display: flex;
    flex-direction: column;
}

label,
.label {
    font-size: 13px;
    font-style: inherit;
    line-height: 1.33333;
    color: var(--color-text-2) !important;
    font-weight: 500;
    display: inline-block;
    font-family: var(--font-sans);
    margin-bottom: 4px;
    margin-top: 0;
}

input,
.input,
input[type='text'],
.input-text,
input[type='email'],
.input-email,
input[type='url'],
.input-url,
input[type='password'],
.input-password,
input[type='number'],
.input-number,
input[type='search'],
.input-search,
input[type='telephone'],
.input-tel,
input[multiple],
.multiple,
textarea,
.textarea,
select,
.select {
    background-color: var(--color-bg-2);
    border: 1px solid var(--color-border-1);
    box-sizing: border-box;
    color: var(--color-text-1);
    cursor: inherit;
    font-family: inherit;
    font-size: 14px;
    min-width: 0px;
    outline: none;
    padding: 8px;
    width: 100%;
    line-height: 1.42857;
    transition: color, background-color, border 0.4s;
}

input::placeholder,
.input::placeholder,
input[type='text']::placeholder,
.input-text::placeholder,
input[type='email']::placeholder,
.input-email::placeholder,
input[type='url']::placeholder,
.input-url::placeholder,
input[type='password']::placeholder,
.input-password::placeholder,
input[type='number']::placeholder,
.input-number::placeholder,
input[type='search']::placeholder,
.input-search::placeholder,
input[type='telephone']::placeholder,
.input-tel::placeholder,
input[multiple]::placeholder,
.multiple::placeholder,
textarea::placeholder,
.textarea::placeholder,
select::placeholder,
.select::placeholder {
    color: var(--color-text-3);
}

input:hover,
.input:hover,
input[type='text']:hover,
.input-text:hover,
input[type='email']:hover,
.input-email:hover,
input[type='url']:hover,
.input-url:hover,
input[type='password']:hover,
.input-password:hover,
input[type='number']:hover,
.input-number:hover,
input[type='search']:hover,
.input-search:hover,
input[type='telephone']:hover,
.input-tel:hover,
input[multiple]:hover,
.multiple:hover,
textarea:hover,
.textarea:hover,
select:hover,
.select:hover {
    background-color: var(--color-bg-2);
    border-color: var(--color-border-2);
}

input:focus,
.input:focus,
input[type='text']:focus,
.input-text:focus,
input[type='email']:focus,
.input-email:focus,
input[type='url']:focus,
.input-url:focus,
input[type='password']:focus,
.input-password:focus,
input[type='number']:focus,
.input-number:focus,
input[type='search']:focus,
.input-search:focus,
input[type='telephone']:focus,
.input-tel:focus,
input[multiple]:focus,
.multiple:focus,
textarea:focus,
.textarea:focus,
select:focus,
.select:focus {
    box-shadow: none;
    background-color: var(--color-bg-1);
    border-color: var(--color-border-1);
}

input:disabled,
.input:disabled,
input[type='text']:disabled,
.input-text:disabled,
input[type='email']:disabled,
.input-email:disabled,
input[type='url']:disabled,
.input-url:disabled,
input[type='password']:disabled,
.input-password:disabled,
input[type='number']:disabled,
.input-number:disabled,
input[type='search']:disabled,
.input-search:disabled,
input[type='telephone']:disabled,
.input-tel:disabled,
input[multiple]:disabled,
.multiple:disabled,
textarea:disabled,
.textarea:disabled,
select:disabled,
.select:disabled,
.input-disabled,
.input.disabled {
    cursor: not-allowed;
    background-color: var(--color-bg-3);
    border-color: var(--color-border-2);
    color: var(--color-grey-500);
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* (...) > SPARKLE > INPUT > DATE-TIME
* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.input-date,
input[type='date'],
.input-datetime,
input[type='datetime'],
.input-month,
input[type='month'],
.input-time,
input[type='time'],
.input-week,
input[type='week'] {

}

.input-wrapper {
    -webkit-box-align: center;
    align-items: center;
    background-color: var(--color-bg-2);
    border-radius: 3px;
    border: 1px solid var(--color-border-1);
    box-sizing: border-box;
    color: var(--color-text-1);
    cursor: text;
    display: flex;
    flex: 1 1 100%;
    font-size: 14px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    transition: background-color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s;
    overflow-wrap: break-word;
    vertical-align: top;
    pointer-events: auto;
}

.input-wrapper:hover {
    background-color: var(--color-bg-2);
    color: var(--color-text-2);
    border-color: var(--color-border-2);
}

.input-wrapper:focus,
.input-wrapper:focus-within {
    color: var(--color-text-1);
    background-color: var(--color-bg-1);
}

.input-wrapper .input,
.input-wrapper .input:hover,
.input-wrapper .input:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.input-wrapper .input {

}


.tag-input {
    background-color: var(--color-bg-1);
    border: 1px solid var(--color-border-1);
    padding: var(--value-3) var(--value-3) var(--value-1);
}

.tag-input .tag,
.tag-input .s-tag {
    opacity: 0.6;
    margin-right: var(--value-3);
    margin-bottom: var(--value-2);
}

.tag-input .tag.selected,
.tag-input .s-tag.selected {
    opacity: 1;
}